# Dependencies
node_modules/

# Cache
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ENV
.env

# Misc
.DS_Store

# Download folder
/download
